@using System.Text
@inject IJSRuntime JS

<div>
    <textarea style="width:800px" rows="25" readonly>@xml</textarea>
</div>
<div>
    <button style="float:right" class="btn btn-secondary" @onclick="SaveXML">Save .xml</button>
</div>
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public ModelDesign md { get; set; }

    string xml {
        get{
            return md.GenerateModelXML();
        }
    }

    async Task SaveXML()
    {
        //https://www.meziantou.net/generating-and-downloading-a-file-in-a-blazor-webassembly-application.htm
        // Generate a text file
        byte[] file = Encoding.UTF8.GetBytes(xml);
        await JS.InvokeVoidAsync("BlazorDownloadFile", "ModelDesign.xml", "text/plain", file);
    }

}
