@page "/"
@page "/opcua2piaf"

<div class="row">
    <div class="col-12">
        <h2 class="pb-2 pt-2 text-center">Create Aveva PI AF Element Templates From OPC UA Nodeset XML</h2>
    </div>
</div>

<OPCUA2PIAF_Component></OPCUA2PIAF_Component>