@*
    @page "/"
*@
@page "/piaf2opcua"

<div class="row">
    <div class="col-12">
        <h2 class="pb-2 pt-2 text-center">Create OPC UA Nodeset From Aveva PI AF Element Templates</h2>
    </div>
</div>

<PIAF2OPCUA_Component></PIAF2OPCUA_Component>