@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <a href="https://www.cesmii.org/technology-smip/" target="_blank">
                <img src="https://www.manufacturingusa.com/sites/manufacturingusa.com/files/CESMII_Logo.png" height="35" style="padding-right: 20px; ">
            </a>

            <a href="https://thinkiq.com/" target="_blank">
                <img href="https://thinkiq.com/" src="https://thinkiq.com/wp-content/uploads/2021/07/thinkiq-logo-tm.png" height="35">
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
